<h1>Listing students</h1>

<table>
  <tr>
    <th>Name</th>
    <th>FavoriteMovie</th>
  </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.favoritemovie %></td>
    </tr>
  <% end %>
</table>
