<div class="container-fluid" ng-app="interview">

  <div class="panel">
    <div class="panel-heading">
      <h1>Listing students (SPA version)</h1>
    </div>

    <div class="panel-body">
      <app></app>
    </div>
  </div>

</div>
